Source: su-me
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs (>= 0.4.21), debhelper (>= 5)
Standards-Version: 3.7.2

Package: su-me
Architecture: all
Recommends: sudo, kdesu | gksu
Description: su wrapper for sidux
 This package provides a simple su wrapper for various uses.
